* {
    margin: 20;
}

body {
    background-color: rgb(242,242,242);
}

/* CSS HEADERS */

.docTitle{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 69;
}

.desc {
    text-align: center;
    font-size: 25;
}

.titles {
    text-align: center;
    font-size: 50;
}

.desc .quotes {
    font-weight: bold;
    font-style: italic;
}

.footer {
    text-align: center;
    font-size: 13;
}


.chap{
    text-align: center;
}

.chap .chapTitles {
    font-weight: bold;
    font-size: 60;
}

.chap .chapTags{
    font-size: 16;
}

.chap .chapText{
    font-size: 25;
}